.Login{
    position: absolute;
    background: #13232f;
    width: 100%;
    height: 100%;
}
h3{
    display: inline-block;
    width: 100px;
}
.userName, .passWord{
    margin: 20px;
    color: #058E52;
}

.inputUser, .inputPass{
    display: inline;
}

.buttonLogin{
    display: block;
    margin-left: 120px;
    width: 100px;
    height: 30px;
    border-style: none;
    background: #058E52;
}

.buttonLogin:hover{
    background: #54c493;
}